%h1 Login

=form_tag sessions_path do
  
  = label :session, :email, 'E-mail'
  = text_field :session, 'email'
    
  = label :user, :session, 'Password'
  = text_field :session, 'password'
    
  =submit_tag 'Login to Account'

%br    
  = link_to 'Sign-up for Account', new_user_path
