%h1 Login

=form_tag login_create_path do
  
  = label :user, :user_id, 'User-ID'
  = text_field :user, 'user_id'
    
  = label :user, :email, 'E-mail'
  = text_field :user, 'email'
    
  =submit_tag 'Login to Account'

%br    
  = link_to 'Sign-up for Account', new_user_path
