%h1 Stats for #{@player.name}
%h2 
  Points Earned:
  = @player.stat.pass_yrd/25 + @player.stat.pass_td*4 + @player.stat.int*(-2) + @player.stat.rush_yrd/10 + @player.stat.rush_td*6 + @player.stat.fumble*(-2) + @player.stat.rec_yrd/10 + @player.stat.rec_td/10 + (@player.stat.kick_att - @player.stat.kick_fg)*(-3) + @player.stat.kick_pat + @player.stat.kick_fg*3

%ul#stats
  %li
    Passing Attempts:
    = @player.stat.pass_att
  %li
    Passing Completions:
    = @player.stat.pass_comp
  %li
    Passing Yards:
    = @player.stat.pass_yrd
  %li
    Passing Touchdowns:
    = @player.stat.pass_td 
  %li
    Interceptions:
    = @player.stat.int
  %li
    Rushing Attemps:
    = @player.stat.rush_att
  %li
    Rushing Yards:
    = @player.stat.rush_yrd
  %li
    Rushing Touchdowns:
    = @player.stat.rush_td
  %li
    Fumbles:
    = @player.stat.fumble
  %li
    Receptions:
    = @player.stat.rec
  %li
    Receiving Yards:
    = @player.stat.rec_yrd
  %li
    Receiving Touchdowns:
    = @player.stat.rec_td
  %li
    Field Goal Attempts:
    = @player.stat.kick_att
  %li
    Field Goals Made:
    = @player.stat.kick_fg
  %li
    PAT's:
    = @player.stat.kick_pat  
= link_to 'Back to Team', players_path
